<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="layout(pageTitle, pageStyles, pageContent, pageScripts)">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${pageTitle}">Pesquera</title>
    <link rel="stylesheet" th:href="@{/css/common/base.css}">
    <th:block th:replace="${pageStyles}"></th:block>
</head>
<body>
<script th:src="@{/js/common/auth.js}" defer></script>
<th:block th:replace="${pageContent}"></th:block>
<th:block th:replace="${pageScripts}"></th:block>
</body>
</html>
